{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<ul>  

    {{ dump(app.user) }}

    <li>Email : {{app.user.email}} </p>

</ul>
{% endblock %}
