<footer class="bg-dark text-white text-center text-lg-start mt-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
                <h5 class="text-uppercase">Mon Site</h5>
                <p>
                    Votre plateforme pour apprendre et découvrir de nouvelles technologies.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="text-uppercase">Liens utiles</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Accueil</a></li>
                    <li><a href="#" class="text-white">À propos</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="text-uppercase">Réseaux Sociaux</h5>
                <ul class="list-unstyled">
                    <li><a href="https://twitter.com" class="text-white">Twitter</a></li>
                    <li><a href="https://facebook.com" class="text-white">Facebook</a></li>
                    <li><a href="https://linkedin.com" class="text-white">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3 bg-secondary">
        © {{ "now"|date("Y") }} Mon Site - Tous droits réservés.
    </div>
</footer>
